/*.post-title {*/
/*  font-size: 28px;*/
/*  font-weight: bold;*/
/*  opacity: 1;*/
/*}*/

/*.post-title:hover {*/
/*  opacity: 0.6;*/
/*}*/

/*.subreddit-text {*/
/*  font-weight: bold;*/
/*}*/

/*.post-url {*/
/*  color: black;*/
/*}*/

/*.username{*/
/*    color: gray;*/
/*}*/

/*.post-text{*/
/*    margin-top: 10px;*/
/*}*/

/*.post{*/
/*    --post-line-color: #ccc;*/
/*    border: 1px solid #ccc;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    overflow: hidden;*/
/*    background-color: rgba(255,255,255,0.8);*/
/*    color: #878A8C;*/
/*    position: relative;*/
/*    border-radius: 4px;*/
/*    padding:5px;*/
/*}*/

/*.comment{*/
/*    --post-line-color: #ccc;*/
/*    border: 1px solid #ccc;*/
/*    margin-bottom: 10px;*/
/*    overflow: hidden;*/
/*    background-color: rgba(255,255,255,0.8);*/
/*    color: #878A8C;*/
/*    position: relative;*/
/*    border-radius: 4px;*/
/*    padding:5px;*/
/*}*/


.news-widget {
  margin: 1em;
  max-width: 640px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mat-card-actions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mat-card-actions-top-right {
  display: flex;
  flex-direction: column;
}

.mat-card-actions-top-right a {
  margin-bottom: 8px;
}

.mat-card-actions-bottom {
  margin-top: auto;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-card-actions .mdc-button {
  margin-left: 8px;
  margin-bottom: 0;
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-card-title a,
.mat-mdc-card-title a:hover,
.mat-mdc-card-title a:visited {
  color: #fff;
}

@media (prefers-color-scheme: light) {
  .mat-mdc-card-title a,
  .mat-mdc-card-title a:hover,
  .mat-mdc-card-title a:visited {
    color: #000;
  }
}

.vote-div {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.vote-button {
  padding: 4px;
  font-size: 14px;
  min-width: 40px;
  line-height: 1;
}

.organization-link {
}

/* New styles */
mat-card-content {
  max-height: 150px;
  overflow: hidden;
  margin-bottom: auto;
}

mat-card-content > div[innerHTML] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}