<a mat-icon-button routerLink="/newsform">
  <mat-icon>arrow_back</mat-icon>
</a>

<form [formGroup]="postForm" (ngSubmit)="submitPost()" *ngIf="postForm">
  <h2>News Draft Editor</h2>

  <mat-form-field appearance="outline">
    <mat-label>Headline</mat-label>
    <input
      matInput
      type="text"
      placeholder="Headline"
      formControlName="headline"
      required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Synopsis (Optional)</mat-label>
    <textarea
      matInput
      placeholder="Synopsis"
      formControlName="synopsis"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Main Story</mat-label>
    <textarea
      matInput
      placeholder="Main Story"
      formControlName="mainStory"
      required></textarea>
  </mat-form-field>

  <!-- <div class="file-upload">
    <label for="imageUpload">Add Image (Optional)</label>
    <input type="file" id="imageUpload" (change)="handleFileInput($event)">
    <span id="file-name"></span> 
  </div> -->

  <div class="timestamp">
    Last Saved at
    <time> {{ currentTime }}</time>
  </div>
  <mat-checkbox color="accent"> Announcement </mat-checkbox>
  <div class="actions">
    <button mat-raised-button type="button" (click)="previewPost()">
      Preview
    </button>
    <button mat-raised-button type="button" (click)="savePost()">Save</button>
    <button mat-raised-button color="primary" type="submit">Post</button>
  </div>
</form>
<!-- <ng-template #unauthenticated>
  You do not have permission to view this page
</ng-template> -->
